<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <routes>
    <!-- Test routes -->
    <route name="DataInputs" url="Tests/DataInputs" file="~/Views/_Tests/DataInputs.aspx" />
    <route name="Registro1" url="Tests/Registro1" file="~/Views/_Tests/Registro1.aspx" />
    <route name="Confirmacion1" url="Tests/Confirmacion1" file="~/Views/_Tests/Confirmacion1.aspx" />
    <route name="Resultados1" url="Tests/Resultados1" file="~/Views/_Tests/Resultados1.aspx" />
    <route name="Registro2" url="Tests/Registro2" file="~/Views/_Tests/Registro2.aspx" />
    <route name="Confirmacion2" url="Tests/Confirmacion2" file="~/Views/_Tests/Confirmacion2.aspx" />
    <route name="Resultados" url="Tests/Resultados2" file="~/Views/_Tests/Resultados2.aspx" />
    <route name="Verificacion" url="Tests/Verificacion" file="~/Views/_Tests/Verificacion.aspx" />
    <!-- Test Routes Conditions -->
    <route name="RegisterCond1" url="Tests_Condition/RegisterCond1" file="~/Views/_TestCondition/Registro1.aspx"/>
    <route name="ConfirmCond1" url="Tests_Condition/ConfirmCond1" file="~/Views/_TestCondition/Confirmation1.aspx"/>
    <route name="ConfirmCond2" url="Tests_Condition/ConfirmCond2" file="~/Views/_TestCondition/Confirmation2.aspx"/>
    <route name="ConfirmCond3" url="Tests_Condition/ConfirmCond3" file="~/Views/_TestCondition/Confirmation3.aspx"/>
    <route name="ConfirmCond4" url="Tests_Condition/ConfirmCond4" file="~/Views/_TestCondition/Confirmation4.aspx"/>
    <route name="ConfirmCond5" url="Tests_Condition/ConfirmCond5" file="~/Views/_TestCondition/Confirmation5.aspx"/>
    <route name="ConfirmCond6" url="Tests_Condition/ConfirmCond6" file="~/Views/_TestCondition/Confirmation6.aspx"/>
    <route name="ConfirmCond7" url="Tests_Condition/ConfirmCond7" file="~/Views/_TestCondition/Confirmation7.aspx"/>
    <route name="ResultsCond1" url="Tests_Condition/ResultsCond1" file="~/Views/_TestCondition/Results1.aspx"/>
    <!-- Public routes -->
    <route name="DisplaySettings" url="Settings/Display" file="~/Views/Settings/Display.aspx" />
    <route name="About" url="About" file="~/About.aspx" />
    <route name="Default" url="Default" file="~/Default.aspx" />
    <!-- Private routes -->
    <route name="ChangePassword" url="Account/ChangePassword" file="~/Views/Account/ChangePassword.aspx" />
  </routes>
  <workflow>
    <flow name="TestFlow">
      <route url="Tests/DataInputs">
        <navigate url="Default" />
      </route>
    </flow>
    <flow name="Flow1">
      <route url="Tests/Registro1">
        <navigate url="Tests/Confirmacion1" />
      </route>
      <route url="Tests/Confirmacion1">
        <navigate url="Tests/Verificacion" />
      </route>
      <route url="Tests/Verificacion">
        <navigate url="Tests/Resultados1" />
      </route>
      <route url="Tests/Resultados1">
        <navigate url="Default" />
      </route>
    </flow>
    <flow name="Flow2">
      <route url="Tests/Registro2">
        <navigate url="Tests/Confirmacion2" condition="Persona.Tipo == &quot;P&quot;" />
        <navigate url="Tests/Autorizacion" />
      </route>
      <route url="Tests/Confirmacion2">
        <navigate url="Tests/Verificacion" />
      </route>
      <route url="Tests/Verificacion">
        <navigate url="Tests/Resultados2" />
      </route>
      <route url="Tests/Resultados2">
        <navigate url="Default" />
      </route>
    </flow>
    <flow name="Flow3Condition">
      <route url="Tests_Condition/RegisterCond1">
        <!--Test-->
        <navigate url="Tests_Condition/ConfirmCond1" condition="([MyProducts].Count>=5) #AND# ([MyFlag]==100);"/>
        <navigate url="Tests_Condition/ConfirmCond2" condition="([MyEntity].Type=='P') #AND# ([MyFlag]==200);"/>
        <navigate url="Tests_Condition/ConfirmCond3" condition="(([MyEntity].Type=='C') #OR# ([MyEntity].Type=='G')) #AND# ([MyFlag]==300);"/>
        <navigate url="Tests_Condition/ConfirmCond4" condition="([MyEntity].Type=='P') #AND# ([[({COUNT}[MyProducts].Type=='4')]]>=2) #AND# ([MyFlag]==400);"/>
        <navigate url="Tests_Condition/ConfirmCond5" condition="([MyEntity].Type=='P') #AND# ([[({COUNT}[MyProducts].Type=='3')]]>=1) #AND# ([MyFlag]==500);"/>
        <navigate url="Tests_Condition/ConfirmCond6" condition="([MyEntity].Type=='G') #AND# ([[({COUNT}[MyProducts].Type=='4')#AND#([MyProducts].AmmountAvailable>='500')]]>=2) #AND# ([MyFlag]==600);"/>
        <navigate url="Tests_Condition/ConfirmCond6" condition="([MyEntity].Type=='G') #AND# ([[({COUNT}[MyProducts].Type=='4')]]>=2) #AND# ([[({SUM}([MyProducts].AmmountAvailable>='200')#AND#([MyProducts].Type=='4'))]]>=1200.50) #AND# ([MyFlag]==1000);"/>
        <navigate url="Tests_Condition/ConfirmCond7" condition="([MyFlag]==700);"/>
      </route>
      <route url="Tests_Condition/ConfirmCond1">
        <navigate url="Tests_Condition/ResultsCond1" />
      </route>
      <route url="Tests_Condition/ConfirmCond2">
        <navigate url="Tests_Condition/ResultsCond1" />
      </route>
      <route url="Tests_Condition/ConfirmCond3">
        <navigate url="Tests_Condition/ResultsCond1" />
      </route>
      <route url="Tests_Condition/ConfirmCond4">
        <navigate url="Tests_Condition/ResultsCond1" />
      </route>
      <route url="Tests_Condition/ConfirmCond5">
        <navigate url="Tests_Condition/ResultsCond1" />
      </route>
      <route url="Tests_Condition/ConfirmCond6">
        <navigate url="Tests_Condition/ResultsCond1" />
      </route>
      <route url="Tests_Condition/ConfirmCond7">
        <navigate url="Tests_Condition/ResultsCond1" />
      </route>
      <route url="Tests_Condition/ResultsCond1">
        <navigate url="Tests_Condition/RegisterCond1" />
      </route>
    </flow>
  </workflow>
</configuration>