<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Culture configuration -->
    <add key="CurrencyDecimalDigits" value="4" />
    <add key="CurrencyDecimalSeparator" value="." />
    <add key="CurrencyGroupSeparator" value="," />
    <add key="CurrencySymbol" value="$" />
    <add key="NumberDecimalDigits" value="2" />
    <add key="NumberDecimalSeparator" value="." />
    <add key="NumberGroupSeparator" value="," />
    <add key="ShortDatePattern" value="dd/MM/yyyy" />
    <!-- Available languages list - Must start with LANG_ and exist as WebUILabels resource -->
    <add key="LANG_SPANISH" value="es-EC" />
    <add key="LANG_ENGLISH" value="en-US" />
    <add key="LANG_RUSSIAN" value="ru-RU" />
    <!-- Available themes list - Must start with THEME_ and exist as WebUILabels resource -->
    <add key="THEME_DEFAULT" value="Default" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- Physical paths permissions -->
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MasterPages/Site.master">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Views/Account/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Views/Account/Logout.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Views/Settings/Display.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- URL Routing permissions -->
  <location path="Settings/Display">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="About">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Permisos de prueba -->
  <location path="Tests/DataInputs">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Views/_Tests">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <globalization culture="es-EC" /> <!-- Culture must be one of the values defined in <appSettings> as Available language list item -->
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="Views/Account/Login.aspx" timeout="10"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages theme="Default"> <!-- Theme must be one of the values defined in <appSettings> as Available themes list item -->
      <controls>
        <add tagPrefix="uc" src="~/Views/UserControls/MessageZone.ascx" tagName="MessageZone"/>
        <add tagPrefix="uc" src="~/Views/UserControls/VerticalMenu.ascx" tagName="VerticalMenu"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>